body {
    width: 1366px;
    margin: 0 auto;
    background: url(../img/background1.png);   
}

.header {
    display: flex;
    margin: 46px 177px 0 161px;
    justify-content: space-between;
}

.header :hover {
    color: #F26522;
}

.header-logo a{
    display: flex;
    text-decoration: none;
}

.header-logo:hover .header-logo-img {
    background: url(../img/logo2.svg);
}

.header-logo:hover .header-logo-title {
    color: #F26522;
}

.header-logo-img {
    background: url(../img/logo3.svg);
    width: 53px;
    height: 47px;
}

.header-logo-title {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}

.header-logo-title h2 {
    font-size: 18px;
    line-height: 18px;
    padding-top: 3px;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;

}

.header-contacts-item a {
    text-decoration: none;
    color: #FFFFFF;
}

.main {
    margin: 17px 177px 0 159px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main-block a {
    text-decoration: none;
}

.main-block h2 {
    text-align: center;
}

.main :nth-child(n+4) {
    margin-top: 37px;
}

.main-block img {
    width: 300px;
    height: 220px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, white, black) 0 100%;
}

.main-block-title {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.main-block-hover {
   display: none;
}

.main-block:hover .main-block-hover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 55px;
    top: 165px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background: #F26522;
}

.main-block:hover .main-block-title {
    color: #F26522;
}

.main-block-hover h3 {
    padding: 7px 0 0 16px;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}

.block-hover-details {    
    padding: 0px 14px 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: white;
}

.block-hover-details a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: white;
}

.block-hover-details p:last-child::after {
    padding-left: 16px;
    content: url(../img/Vector1.svg);
}

 .footer {
    margin-top: 49px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}




