.header {
    text-align: center;
    padding: 26px 26px;
}

.header-nav-list li{
    padding-left: 72px;
    display: inline-block;
    text-align: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;

}

.header-nav-list li:first-child {
    padding-left: 0;
}

.header-nav-list li:last-child {
    padding-left: 52px;
}

.header-nav-list a {
    color: #FF0000;
    text-decoration: none;
}
.img-item {
    width: 100%;
}

.content {
    text-align: center;
}

.content-title {
    padding-top: 50px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    color: #373737;
}

.content-paragraph {
    padding:38px 68px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

.content :nth-child(3){
    padding-top: 28px;
}

.content-btn{
    margin: 66px 0 42px;
    padding: 0;
    height: 51px;
    width: 191px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 4px;
    border-color: #FF0000;
    border-style: none;

}

.footer {
    padding: 40px 0 30px 55%;
}

.footer p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;  
    letter-spacing: 2.4px;
    color: #373737;
}