body{
    background: #171717;
}

.networks-container,
.tech-container,
.our-clients_container
{
    max-width: 1280px;
    margin: auto;
}
.container{
    max-width: 1280px;
    margin: 0 auto
}
.header{
    padding-top: 45px;
    padding-bottom: 10px;
    position: relative;
}
.header_wrapper{
    display: flex;
    justify-content: space-between;
}
.contact-link{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #D6AF76;
}

.contact-link>span{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF
}

.btn_call-back{
    border: 1px solid #E4B564;
    background: none;
    padding: 10px 25px;
    margin-left: 15px;
}

.btn_call-back span{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #E4B564;
}


.networks-background{
    padding-top: 130px;
    padding-bottom: 130px;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.networks-title,
.tech-title,
.our-clients-title{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.networks_description{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    width: 1185px;
    margin-bottom: 40px;
}
.networks_list{
    height: 960px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    gap: 2%;
    align-items: stretch;
    justify-content: space-between;
    align-content: space-evenly;
    justify-items: stretch;
}

.networks_item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

.networks_item--brown {
    background: #634F2C;
}

.networks_item--light-brown{
    grid-area: 1 / 2 / 2 / 4;
    background: #B4A385;
}

.networks_item--yellow {
    background: #E4B564;
}

.networks_item--grey {
    grid-column: span 2;
    background: #635A4A;
}

.networks_item--dark-yellow {
    grid-area: 2 / 3 / 3 / 5;
    background: #B08C4D;
}

.tech-list{
    height: 900px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2% 3%;
    grid-template-areas:
    "truck1 truck2 truck3"
    "truck4 truck2 truck6"
    "truck4 truck5 truck6"
    "truck4 truck5 truck7";
}

.tech{
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    padding-top: 40px;
    padding-left: 50px;
}
ul > li > p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}
.client_2 >p{
    text-align: center;
    padding: 16px 80px 0;
    margin-bottom: 10px;
}

ul > li > span{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.list_1{
    background: #0E0E0E;
    grid-area: truck1;
}

.list_2{
    background: #242424;
    grid-area: truck2;
}

.list_3{
    background: #1F1F1F;
    grid-area: truck3;
}

.list_4{
    background: #1F1F1F;
    grid-area: truck4;
}

.list_5{
    background: #E4B564;
    grid-area: truck5;
    margin-bottom: 15px;
}

.list_6{
    background: #0E0E0E;
    grid-area: truck6;
}

.list_7{
    background: #0A0909;
    grid-area: truck7;
}

.our-clients_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our-clients_background{
    background-position: center;
    background-size: auto auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 130px;
    padding-top: 130px;
}
.our-clients_list{
    height: 780px;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.client_1,
.client_6{
    background: #634F2C;

}

.client_2{
    background: rgba(232, 210, 171, 0.76);
    flex-direction: column;
    align-content: center;
}
.client_3{
    background: #E4B564;
}
.client_4{
    background: #635A4A;
}
.client_5{
    background: #B08C4D;
}

.btn_all-projects{
    border: 1px solid #E4B564;
    background: none;
    width: 190px;
    padding: 10px 40px;
}

.btn_all-projects > span{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #E4B564;
}


.client_2 p{
    opacity: 0;
    transition: 1.5s;
}

.client_2 p:hover{
    opacity: 1;
}



