body {
    width: 1280px;
    margin: 0 auto;
}

.header {
    margin-top: 63px;
}

.header-link {
    text-decoration: none;
    color: #000000;
}

.header-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.header-title span {
    color: #4BCAFF;
}

.header-nav {
    margin-top: 38px;
    height: 72px;
    display: flex;
    justify-content: center;
    background: #35444F;
}

.header-nav-list {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    height: 100%;
    color: #FFFFFF;
}

.header-nav-list li {
    padding: 0 40px 0 40px;
    display: flex;
    align-items: center;
    border-left: 1px solid white;
}

.header-nav-list li:last-child {
    border-right: 1px solid white;
}

.header-nav-list li:hover {
    background: #222F3A;
}

.container {
    margin-top: 48px;
    display: flex;
}

.container-nav {
    width: 88.8%;
}

.container-nav-list {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.container-nav-list li {
    padding-left: 44px;
    height: 80px;
    display: flex;
    align-items: center;
    color: #485863;
}

.container-nav-list li:hover {
    padding-left: 70px;
    color: #000000;
    background-color: #DBDBDB;
}

.container-content {
    margin-left: 52px;
}

.container-content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 529px;
    border: 1px solid #000000;
}

.container-content-img img:hover {
    transition: 1.5s;
    transform: scale(1.3);
}
.container-content-text {
    margin-top: 38px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.container-content-text p:last-child {
    padding-top: 34px;
}

.footer {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    background: rgba(99, 105, 110, 0.48);
}

.footer-nav {
    display: flex;
}

.footer-nav-list {
    display: flex;
    align-items: center;
}

.footer-nav-list li{
    display: flex;
    margin-left: 22px;
}

.footer-nav-list li:first-child {
    padding-left: 0;
}

.footer-nav-list li:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding: 10px 0 10px 0;

}

.footer-copyright {
    padding-left: 12%;
    font-size: 24px;
    line-height: 24px;
}